
    


<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
        <mat-toolbar>
            <span>Menu</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
  
        <mat-nav-list>
            <a routerLink="/cart/cart" mat-list-item>
                <mat-icon>shopping_cart</mat-icon>
                <span>Cart</span>
            </a>
            <a routerLink="/product/product" mat-list-item>
                <mat-icon>add_shopping_cart</mat-icon>
                <span>Producst</span>
            </a>
            <a routerLink="/" mat-list-item>
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </a>
        </mat-nav-list>
        
    </mat-sidenav>
  
    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <div *ngIf="isPressed">
        <div >
            <div gdAlignRows="center">
                <mat-card>
                    <mat-card-title>Quantity of Product</mat-card-title>
                    <mat-card-content>
                        <form [formGroup]="updateForm">
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Quantity</mat-label>
                                    <input matInput placeholder="Quantity" type="number" formControlName="quantity">
                                    <mat-icon matSuffix>mood</mat-icon>
                                  </mat-form-field>
                            </div>
                        </form>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="ml2">
                            <button mat-stroked-button color="primary" (click)="update()">Send</button>
                        </div>
                    </mat-card-actions>
                </mat-card> 
            </div>
            
        </div>
    </div>
    
    <br>
    <br>
    <h1>Cart</h1>
    <div fxLayout="column">
      <div *ngFor="let cart of data" class="ccard">
          <mat-card class="content-card">
              <mat-card-header>
                  <mat-card-title>Cart</mat-card-title>
                  <mat-card-content>
                      <strong>Product :</strong>  {{cart.product_id}}
                      <strong>Price   :</strong>  {{cart.quantity}}
                      <button mat-raised-button color="primary" type="submit" (click)="delete(cart)">Delete</button>
                      <button mat-raised-button color="warn" type="submit" style="margin-left: 12px;" (click)="save(cart)">Update</button>
                  </mat-card-content>
              </mat-card-header>
          </mat-card>
          <br>
      </div>
  </div>
    
    
  </mat-sidenav-container>
  
