.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .ml {
      margin-left: 20px;
  }
  
  .ml2 {
      margin-left: 10px;
  }