
<div class="center-content">
    <div fxFlex="100">
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <form [formGroup]="loginForm">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" type="email" formControlName="email">
                            <mat-icon matSuffix>account_circle</mat-icon>
                          </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" type="password" formControlName="pass">
                            <mat-icon matSuffix>password</mat-icon>
                          </mat-form-field>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <div class="ml2">
                    <button mat-stroked-button color="primary" (click)="singIn()">Login</button>
                </div>
            </mat-card-actions>
            <mat-card-footer>
                <p class="ml">Are you new ? sign up here <a routerLink="/auth/register">Register</a> </p>
            </mat-card-footer>
        </mat-card> 
    </div>
    
</div>
