
<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
        <mat-toolbar>
            <span>Menu</span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="/cart/cart" mat-list-item>
                <mat-icon>shopping_cart</mat-icon>
                <span>Cart</span>
            </a>
            <a routerLink="/product/product" mat-list-item>
                <mat-icon>add_shopping_cart</mat-icon>
                <span>Producst</span>
            </a>
            <a routerLink="/" mat-list-item>
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </a>
        </mat-nav-list>
        
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
</mat-sidenav-container>

