<section>
    <div class="pd">
      <a mat-raised-button color="primary" routerLink="/auth/login">Back</a>
    </div>
</section>


<div class="center-content">
    <div fxFlex="100">
        <mat-card>
            <mat-card-title>Register</mat-card-title>
            <mat-card-content>
                <form [formGroup]="registerForm">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>User</mat-label>
                            <input matInput placeholder="User" type="text" formControlName="email" >
                            <mat-icon matSuffix>account_circle</mat-icon>
                          </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" type="password" formControlName="pass">
                            <mat-icon matSuffix>password</mat-icon>
                          </mat-form-field>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <div class="ml">
                    <button mat-stroked-button color="primary" (click)="register()">Sing Up</button>
                </div>
            </mat-card-actions>
        </mat-card> 
    </div>
</div>
