<div fxLayout="column">
    <div *ngFor="let product of products" class="ccard">
        <mat-card class="content-card">
            <mat-card-header>
                <mat-card-title>{{product.name}}</mat-card-title>
                <mat-card-content>
                    Price : {{product.price}}
                    Description : {{product.description}}
                    <button mat-raised-button color="primary" (click)="add(product)">Add to the cart</button>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
        <br>
    </div>
</div>


<div *ngIf="display">
    <div >
        <div gdAlignRows="center">
            <mat-card>
                <mat-card-title>Quantity of Product</mat-card-title>
                <mat-card-content>
                    <form [formGroup]="quantityForm">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Quantity</mat-label>
                                <input matInput placeholder="Quantity" type="number" formControlName="quantity">
                                <mat-icon matSuffix>mood</mat-icon>
                              </mat-form-field>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <div class="ml2">
                        <button mat-stroked-button color="primary" (click)="sendQuantity()">Send</button>
                    </div>
                </mat-card-actions>
            </mat-card> 
        </div>
        
    </div>
</div>


