.ccard {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-card {
    margin-bottom: 20px;
}

.center-content{
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 70vh;
  }